In [20]:
import pandas as pd 
import numpy as np

In [37]:
##defind the matrix  ( Step 1)
mtx=[ [ 250, 16,12,5]
    , [200,16, 8, 3]
    , [300, 32,16,4]
    , [275, 32, 8, 4]
    , [225,16,16,2]]

w=[0.25,0.25,0.25,0.25] ##weight 
Names= [ "Phone 1" ,"Phone 2","Phone 3","Phone 4","Phone 5" ]## altenative name 
Data=pd.DataFrame( mtx, index= Names)
Data

In [53]:
from skcriteria import Data, MIN, MAX

In [41]:
names = [ "Cost", "Storage", "Camera", "Appearance" ]
criteria = [ MIN, MAX, MAX, MAX]
data = Data(mtx, criteria, weights=w, anames=Names, cnames=names )
data

 ALT./CRIT.    Cost (min) W.0.25    Storage (max) W.0.25    Camera (max) W.0.25    Appearance (max) W.0.25
------------  -------------------  ----------------------  ---------------------  -------------------------
  Phone 1             250                    16                     12                        5
  Phone 2             200                    16                      8                        3
  Phone 3             300                    32                     16                        4
  Phone 4             275                    32                      8                        4
  Phone 5             225                    16                     16                        2

In [54]:
from skcriteria.madm.closeness import TOPSIS
dm= TOPSIS (mnorm="vector")
dm.decide(data)

TOPSIS (mnorm=vector, wnorm=sum) - Solution:
 ALT./CRIT.    Cost (min) W.0.25    Storage (max) W.0.25    Camera (max) W.0.25    Appearance (max) W.0.25    Rank
------------  -------------------  ----------------------  ---------------------  -------------------------  ------
  Phone 1             250                    16                     12                        5                3
  Phone 2             200                    16                      8                        3                5
  Phone 3             300                    32                     16                        4                1
  Phone 4             275                    32                      8                        4                2
  Phone 5             225                    16                     16                        2                4